* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.mainbox {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo {
    text-align: center;
    padding: 10px;
}

.sidebar {
    width: 260px;
    position: relative;
    /* 为退出按钮定位准备 */
    min-height: calc(100vh - 60px);
    position: relative;
    background-color: #b4e1fe;
    padding: 10px 2px;
    border-right: 1px solid #858585;
}

#yunding {
    padding-left: 50px;
    padding-bottom: 10px;
}

.nav-btn {
    font-size: larger;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px 15px 40px;
    margin-bottom: 13px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(83, 83, 83, 0.5);
    background-color: #dcf2ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;
}

#logoutBtn {
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    right: 0;
    font-size: medium;
    appearance: none;
    border: none;
    background-color: transparent;
}

#signout {
    width: 30px;
}

.nav-btn:hover,
.nav-btn.active {
    background-color: #8cd1fb;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: #b4e1fe;
    font-size: 20px;
    letter-spacing: 2px;
}

.topbar img {
    margin: 10px 50px 10px 30px;
    width: 60px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding: 20px; */
    background-image: linear-gradient(to right, #8cd1fb, white);
    padding: 20px;
    align-items: center;
        display: flex;
        justify-content: center;
}

.chart-container {
    width: 80%;
    height: 80%;
    background: #e6f7ff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.x-axis,
.y-axis {
    border: 1px solid #666;
}

.x-axis {
    height: 1px;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    left: 20px;
}

.y-axis {
    width: 1px;
    position: absolute;
    left: 20px;
    height: calc(100% - 40px);
    top: 20px;
}

.y-axis div {
    position: absolute;
    left: -50px;
    width: 50px;
    text-align: right;
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

.column-group {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    padding: 0 20px;
    left: 20px;
}

.column {
    width: 80px;
    background: #83d9ff;
    text-align: center;
    border-radius: 4px;
}

.column h3 {
    font-size: 16px;
    margin-top: 10px;
}

.column .bar {
    height: 565px;
    background: #66ccff;
    margin-bottom: 10px;
}

.horizontal-line {
    position: absolute;
    width: 1000px;
    height: 1px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
    padding: 0 20px;
    left: 20px;
}

.horizontal-line-20 {
    top: calc(77% + 20px);
}

.horizontal-line-40 {
    top: calc(59% + 20px);
}

.horizontal-line-60 {
    top: calc(40% + 20px);
}

.horizontal-line-80 {
    top: calc(20% + 20px);
}

.horizontal-line-100 {
    top: calc(0% + 20px);
}
