*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* 上方菜单搜索栏 */
.Top {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 49px;
}
.Top span {
    margin: 0px 15px;
    height: 30px;
    width: 20px;
    background-color: white;
    transition: transform 0.2s ease;
}
.Top span:hover {
    transform: scale(0.5);
}
.Top .search {
    margin-right: 15px;
}
.Top .camera {
    padding-top: 150px;
    /* 为什么不设内边距图像会卡出页面 */
    height: 200px;
    width: 200px;
    transition: all 0.3s ease;
}
.Top .camera:hover {
    padding-top: 125px;
    transform: scale(0.7);
}


/* 乌龟与文字APE */
.tortoise {
    margin: 0 auto;
    padding-top: 243px;
    height: 629px;
    width: 100%;
    max-width: 1920px;
    background-image: url(https://star-tomato.oss-cn-beijing.aliyuncs.com/YunDing_Academy/Freshman_year_1/Week4%2817%29_Animal%20Photography/tortoise.jpg);
}
.tortoise ul {
    margin: 0px auto;
    width: 1096px;
    height: 386px;
}
.tortoise .AP {
    margin-bottom: 24px;
    margin-left: 180px;
    font: 72px Cambria;
    color: #2a3f17;
}
.tortoise .A_silhouette__us {
    margin-bottom: 100px;
    font: 30px "Microsoft YaHei UI" ;
    color: #2a3f17;
}
.tortoise .EXPIORE {
    height: 72px;
    width: 262px;
    font: 30px "Microsoft YaHei UI" ;
    color: #ffffff;
    text-align: center;
    line-height: 72px;
    background-color: #2a3f17;
    border: 3px solid transparent;
    transition: all 0.5s ease;
}
.tortoise .EXPIORE:hover {
    background-color: transparent;
    color: #2a3f17;
    border: 3px solid #2a3f17;
    cursor: pointer;
}

/* 三只火烈鸟 */
.flamingo {
    display: flex;
    justify-content: space-between;
    margin: -145px auto 0px auto;
    height: 700px;
    width: 1111px;
}
.flamingo span {
    display: inline-block;
    width: 333px;
    height: 500px;
    transition: transform 0.5s ease;
}
.flamingo .flamingo1 {
    background-image: url(https://star-tomato.oss-cn-beijing.aliyuncs.com/YunDing_Academy/Freshman_year_1/Week4%2817%29_Animal%20Photography/flamingo1.jpg);
}
.flamingo .flamingo2 {
    background-image: url(https://star-tomato.oss-cn-beijing.aliyuncs.com/YunDing_Academy/Freshman_year_1/Week4%2817%29_Animal%20Photography/flamingo2.jpg);
}
.flamingo .flamingo3 {
    background-image: url(https://star-tomato.oss-cn-beijing.aliyuncs.com/YunDing_Academy/Freshman_year_1/Week4%2817%29_Animal%20Photography/flamingo3.jpg);
}
.flamingo .flamingo1:hover,
.flamingo .flamingo2:hover,
.flamingo .flamingo3:hover {
    transform: translateY(-60px);
}

/* 注册 */
.giraffe {
    position: relative;
    margin: 0 auto; 
    width: 100%;
    max-width: 1920px;
    height: 760px;
    background-image: url(https://star-tomato.oss-cn-beijing.aliyuncs.com/YunDing_Academy/Freshman_year_1/Week4%2817%29_Animal%20Photography/giraffe.jpg);
}
.giraffe .ad {
    position: absolute;
    top: -83px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
    /* margin: -83px auto 0px auto; */
    padding: 75px;
    width: 871px;
    height: 466px;
    background-color: #e0dfdf;
    transition: margin-top 0.5s ease;
}
.giraffe .ad:hover {
    margin-top: -60px;
}
.giraffe .adWords {
    font: 25px "Microsoft YaHei UI";
    color: #2a3f17;
    line-height: 37px;
}
.giraffe a {
    margin: 100px auto 0px auto;
    height: 70px;
    width: 197px;
    font: 30px "Microsoft YaHei UI";
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    background-color: #2a3f17;
    border: 0;
    transition: transform 0.3s ease;
}
.giraffe a:hover {
    transform: scale(0.8);
}

/* 不同的动物们 */
.difference {
    position: relative;
    margin: 80px auto 0px auto;
    height: 55px;
    width: 236px;
    font: 48px "Microsoft YaHei UI";
    color: #2a3f17;
    border: 5px solid transparent;
    /* transition: all 1s ease; */
}
/* .difference:hover {
    animation: myborder 2s forwards;
} 
@keyframes myborder {
    0% {
        border-color: transparent;
    }
    25% {
        border-top-color: #2a3f17;
    }
    50% {
        border-top-color: #2a3f17;
        border-right-color:  #2a3f17;
    }
    75% {
        border-top-color: #2a3f17;
        border-right-color: #2a3f17;
        border-bottom-color: #2a3f17;
    }
    100% {
        border-top-color: #2a3f17;
        border-right-color: #2a3f17;
        border-bottom-color: #2a3f17;
        border-left-color: #2a3f17;
    }
} */
/* 不是绘制效果 */
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.path {
    stroke: #2a3f17;
    fill: transparent;
    stroke-width: 5px;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    transition: stroke-dashoffset 2s ease;
}
.difference:hover .path {
    stroke-dashoffset: 0px;
}
.fourAnimals {
    display: flex;
    justify-content: space-between;
    margin: 120px auto 0px auto;
    width: 1146px;
}
.fourAnimals li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 413px;
    width: 264px;
    color: #2a3f17;
    background-color: #e0dfdf;
    transition: margin-top 0.5s ease;
}
.fourAnimals li:hover {
    margin-top: -80px;
}
.fourAnimals img {
    height: 264px;
    margin-bottom: 30px;
}
.fourAnimals .name {
    margin-bottom: 20px;
    font: 30px "Microsoft YaHei UI";
}
.fourAnimals a {
    margin-bottom: 40px;
    width: 190px;
    height: 30px;
    font: 21.85px "Microsoft YaHei UI";
    color: #2a3f17;
    border-bottom: 3px solid;
    /* 文字下方合适的下划线，用边框也可以实现 */
}

/* Know more与松鼠 */
.Know_more {
    display: block;
    margin: 120px auto 85px;
    width: 360px;
    height: 70px;
    font: 30px "Microsoft YaHei UI";
    color: #2a3f17;
    text-align: center;
    line-height: 70px;
    border: 4px solid #2a3f17;
    transition: all 0.5s ease;
}
.Know_more:hover {
    color: #fff;
    background-color: #2a3f17;
}
.squirrelAndWords {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 60px;
    width: 1404px;
    height: 1020px;
    color: #2a3f17;
}
.squirrel {
    width: 702px;
    height: 1020px;
}
.squirrelRight {
    margin: 93px 10px 0px 129px;
}
.squirrelRight li {
    font-size: 24px;
}
.squirrelRight li a {
    font-size: 36px;
    color: #2a3f17;
}
.squirrelRight .wPhoto {
    margin-bottom: 42px;
    font: 36px "Microsoft YaHei UI";
    transition: transform 1s ease;
}
.squirrelRight .wPhoto:hover {
    transform: translateY(-80px);
}
.squirrelRight .introduction {
    margin-bottom: 82px;
    font: 24px "Microsoft YaHei UI";
    transform-origin: top left;
    transition: all 0.5s ease;
}
.squirrelRight .introduction:hover {
    transform: scale(1.1);
}
.squirrelRight .iconfont {
    margin-bottom: 88px;
    transition: transform 1s ease;
}
.squirrelRight .iconfont:hover {
    transform: translateX(100px)
}
.squirrelRight .iconfont::first-letter {
    /* 运用伪类选择器将首字符变大 */
    font-size: 60px;
}

/* 页面结尾 */
.footer {
    margin: 0 auto;
    padding: 176px 0px;
    /* padding: 176px 331px 176px 445px; */
    width: 100%;
    max-width: 1920px;
    /* max-width: 1299px; */
    height: 108px;/*460*/
    color: #2a3f17;
    border-top: 5px solid #2a3f17;
}
.footer ul {
    margin: 0px 331px 0px 445px;
    display: flex;
    margin: 0 auto;
    width: 1146px;
    height: 124px;
    /* 用外边距居中，记得写盒子大小 */
    justify-content: space-between;
}
.footer .IN_THE__SEA {
    font: 40px "Microsoft YaHei UI";
}
#MORE {
    font: 30px "Microsoft YaHei UI";
}
.footer .MORE_We__life{
    flex: 1;
    margin-left: 50px;
    font: 24px "Microsoft YaHei UI";
}
.footer .Big_World{
    display: block;
    margin-top: 20px;
    width: 361px;
    height: 73px;
    font: 36px "Microsoft YaHei UI";
    color: #fff;
    line-height: 73px;
    text-align: center;
    background-color: #2a3f17;
    transition: all 0.5s ease;
}
.footer .Big_World:hover {
    transform: translateY(-20px);
    background-color: #fff;
    color: #2a3f17;
}