@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1735028474226') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont1 {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-xuhao:before {
  content: "\e606";
}

.icon-xuhao1:before {
  content: "\e608";
}

.icon-xuhao2:before {
  content: "\e60a";
}

.icon-xuhao3:before {
  content: "\e613";
}

